# ==============================================================================
# .gitignore
# =============================================
# Author(s):  John P T Salvesen
# Email:      john.salvesen@cern.ch
# Date:       21-11-2025
# ==============================================================================

# ==============================================================================
# Allow empty folders to be kept using a .gitkeep file
# ==============================================================================
!.gitkeep

# ==============================================================================
# Ignore Byte-compiled / optimized / DLL files
# ==============================================================================
__pycache__/
.pytest_cache

# ==============================================================================
# Ignore MacOS Hidden Files
# ==============================================================================
*.DS_Store

# ==============================================================================
# Ignore large data files
# ==============================================================================
*.dat
*.npy
*.npz
*.tfs
*.csv
*.png
*.jpg
*.jpeg
*.gif

# ======================================
# Allow the required data
# ======================================
!data/*.npy
!data/*.npz
!data/*.dat
!data/*.tfs

# ======================================
# Allow the readme images
# ======================================
!README/*.png

# ==============================================================================
# Ignore local development
# ==============================================================================
/dev